@charset 'utf-8';

@font-face {
  src: url('../fonts/AvenirLTStd-Heavy.otf');
  font-family: 'Avenir';
  font-weight: bold;
}

@font-face {
  src: url('../fonts/AvenirLTStd-Roman.otf');
  font-family: 'Avenir';
  font-weight: normal;
}

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'var-mix';
@import 'global';
@import 'header';
@import 'footer';
@import 'home';
@import 'listing';
@import 'product';
@import 'cart';
@import 'checkout';
@import 'contact';
@import 'sensei';
@import 'blog';

@import 'slick';
@import 'slick-theme';
