.blog {
	.pagination {
		display: flex;
		.page-numbers {
			a {
				line-height: 1.5em;
			}
		}
	}

	.blog-list {
		li {
			margin-bottom: 1em;
		}
		h4 a {
			font-weight: bold;
			color: $dark-blue;
		}
	}
}