.shop_table {
	td {
		vertical-align: middle;
	}
	.qty {
		width: 4em;
	}

	.product-thumbnail {
		width: 10em;
		.product-image-container {
			background:white;
		}
	}
	.product-name {
		a {
			margin-bottom: 0.5em;
			display: inline-block;
		}
	}
	.product-remove {
		text-align: center;
	}
	.variation {
		font-size: 0.8em;
		dt, dd {
			float: left;
			margin: 0;
		}
		dt {
			clear: left;
			margin-right: 0.3em;
		}
		p {
			margin: 0;
		}
	}
}