.contact {
	.main-content {
		border-right: 1px solid $light-gray;
		@media screen and (min-width: map-get($breakpoints, medium)) {
			padding-right: 2em;
		}
	}
	.contact-info {
		@media screen and (min-width: map-get($breakpoints, medium)) {
			padding-left: 2em;
		}
		padding-top: 1em;
		p {
			font-weight: bold;
		}
		a, span, address {
			font-weight: normal;
		}
		.contact-map {
			height: 15em;
		}
	}
	.gform_body {
		ul {
			list-style-type: none;
		}
	}
}