footer {
	margin-top: 1em;
}

#subscribe-modal {
	-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);

	ul {
		list-style-type: none;
	}

	.ginput_container_address + label {
		display: none;
	}

	.gfield_checkbox {
		-moz-column-count: 2;
		-moz-column-gap: 2.5em;
		-webkit-column-count: 2;
		-webkit-column-gap: 2.5em;
		column-count: 2;
		column-gap: 2.5em;
	}
}

#top-footer-bar {
	padding: 0.8rem 0;
	background-color: $light-gray;
	a {
		color: $black;
	}
	p, .gform_confirmation_wrapper {
		padding: 0.4em 0 0 1em;
		color: $medium-gray;
		font-weight: bold;
	}
	.quote-cart {
		border-left: 1px solid $light-blue;
	}
	ul:first-child {
		li:last-child {
			a {
				border-right: 1px solid $light-blue;
			}
		}
	}
	.newsletter-form {
		float:left;
		margin-right: 1em;
		li {
			list-style: none;
		}
		.gform_body, .gform_footer {
			float: left;
		}
		.gform_body {
			> ul {
				margin-left: 0.75rem;
			}
		}
		input {
			text-transform: uppercase;
		}
		input[type="email"] {
			font-size: 1em;
			font-weight: bold;
			margin: 0.3em 0;
			height: 1.7375rem;
			min-width: 16em;
			@media screen and (max-width: $text-medium) {
				height: 1.5375rem;
			}

			@media screen and (max-width: $text-small) {
				height: 1.2375rem;
			}
		}
		.submit-button {
			padding: 0.45em 1em;
			color: $blue;
			background: $yellow;
			margin-top: 0.3em;
			border-radius: 0;
			font-size: 0.95em;
			border: 1px solid $medium-gray;
			&:after {
				content: " \f0e0";
				font-family: FontAwesome;
			}
			&:hover {
				color: $yellow;
				background: $blue;
			}

			@media screen and (max-width: $text-medium) {
				padding: 0.48em 1em;
				font-size: 1em;
			}

			@media screen and (max-width: $text-small) {
				padding: 0.55em 1em;
			}
		}

	}
}

#middle-footer-bar {
	padding: 1.5em 0;
	background: $light-gray;
	text-transform: uppercase;
	color: $black;
	font-weight: bold;
	p {
		margin: 0;
		color: $black;
		text-transform: none;
		font-weight: bold;
	}
	li {
		list-style: none;
	}
	a {
		color: $black;
		&:hover {
			color: $medium-gray;
		}
	}
	.contact-list {
		text-transform: none;
		font-size: 0.9em;
		.contact-item {
			display: flex;
			width: 100%;
			.fa {
				flex: 1;
			}
			> div {
				flex: 9;
			}
		}
		.fa {
			color: $black;
			font-size: 1.7em;
			width: 10%;
			&.fa-envelope {
				font-size: 1.2em;
			}
			// float: left;
		}

		p, address {
			width: 90%;
			// float: left;
		}

		// &.contact-list-text {
		// 	li {
		// 		margin: 0.15em 0;
		// 		@media screen and (max-width: 640px) {
		// 			font-size: 0.8rem;
		// 			margin: 0.45em 0;
		// 		}
		// 	}
		// }
	}
	#footer-menu {
		ul {
			
			display: table;
			width: 100%;
			li {
				
				display: table-cell;
				a {
					font-size: 1em;
					text-align: center;
					color: $light-gray;
					border-right: 1px solid $dark-gray;
					padding: 2em 1em;
					&:hover {
						color: $yellow;
					}

				}
				&:last-child a {
						border: none;
					}
			}
		}
	}
}

#bottom-footer-bar {
	.copyright {
		padding-left: 1em;
		p {
			display: inline;
			border-left: 1px solid $light-blue;
			color: $white;
			font-weight: bold;
			@media screen and (max-width: 640px) {
				font-size: 0.6rem;
			}
		}

	}
	li {
		@media screen and (max-width: 320px) {
			display: block;
			padding-left: 0 !important;
			p {
				border: none !important;
				padding: 0;
			}
		}
	}
}