/*<-- GLOBAL STYLES -->*/

*{
	margin: 0;
	box-sizing: border-box;
}
body, p, table thead, table tfoot, a, label,
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, select, .sku {
	font-family: $OpenSans;
	color: $black;
	font-weight: bold;
}

.woocommerce-tabs,
section .entry-content {
	p, td, a:not(.button), li, span {
		font-weight: normal;
		color: $black;
	}
	a:not(.button) {
		color: $black;
	}
}

// section .entry-content {
// 	a {
// 		font-weight: bold;
// 		color: $dark-blue;
// 	}
// }

#wrapper {
	background: white;
}

[role="main"] {
	padding-top: 0.5em;
}

table thead, table tfoot {
	background: $black;
	color: $white;
}

p {
	font-weight: normal;
}

a {
	&:hover {
		color: $blue;
	}
}

article.page {
	margin: 1em 0;
	width: 100%;
}

.yellow {
	color: $yellow;
}

a.yith-wcqv-button {
	display: none;
}

.gform_body {
	ul {
		margin: 0;
	}
}

.widget-area {
	li {
		list-style-type: none;
	}
}

.hide-other {
	display: none;
}

.woocommerce-message, .woocommerce-error, .validation_error {
	margin: 1em 0;
	padding: 0.5em;
	font-weight: bold;
	.button {
		margin: 0 1em 0 0;
	}
}

.woocommerce-message {
	border: 1px solid darken(map-get($foundation-palette, success), 20%);
	background: map-get($foundation-palette, success);
}

.woocommerce-error, .validation_error {
	border: 1px solid darken(map-get($foundation-palette, alert), 20%);
	background: map-get($foundation-palette, alert);
	color: darken(map-get($foundation-palette, alert), 30%);
}

.validation_message {
	color: darken(map-get($foundation-palette, alert), 30%);
}

.blue-bar {
	background: $dark-blue;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
	color: $light-blue;
	padding: 0.4rem 0;
	a {
		color: $light-blue;
		&:hover {
			color: $yellow;
		}
	}
	p {
		padding: 0 1rem;
		margin: 0;
	}
	ul {
		li {
			> a {
				margin: 0 0;
				padding: 0 1rem;
				border-right: 1px solid $light-blue;
				@media screen and (max-width: $text-medium) {
					padding: 0 0.7rem;
				}

				@media screen and (max-width: 850px) {
					padding: 0 0.4rem;
				}

			}
			> a::after {
				content: " >";
			}
			&:last-child a {
				border: none;
			}
			a.no-arrow::after {
				content: none;
			}

		}
	}
	@media screen and (max-width: $text-medium) {
		padding: 0.5rem 0;
	}

	@media screen and (max-width: 850px) {
		padding: 0.3rem 0;
	}
}

// li {
// 	list-style: none;
// }

.button,
.course button.button,
.course a.button,
.lesson a.button,
.lesson input.quiz-submit.complete,
.quiz input.quiz-submit.complete,
.quiz form input.quiz-submit,
.quiz a.button {
	color: $white;
	background: $black;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 0.55em 0.8em;
	border-radius: 0;
	line-height: 1em;
	&.disabled {
		&:hover {
			color: $blue;
			background: $yellow;
		}
	}
	&.secondary {
		background: $black;
		color: $white;
		&:hover {
			background: $yellow;
		color: $blue;
		}
	}
	&:hover {
		background: $blue;
		color: $yellow;
	}
}

h1.entry-title,
h1.page-title,
h2.entry-title,
.training h1,
.training h2 {
	width: 100%;
	background: $light-gray;
	text-transform: uppercase;
	color: $black;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.3em 0.8em !important;
	position: relative;
	margin: 0 0 1em 0;
	&:before {
		border: 1px solid $light-gray;
		border-right: 0;
		border-left: 0;
		content: " ";
		position: absolute;
		z-index: -1;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
	}
	a {
		width: 100%;
		display: inline-block;
	}
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

.post-edit-link {
	display: none;
}

.woocommerce {
	.woocommerce-breadcrumb {
		margin: 0 0 0.5em 0!important;
		font-weight: bold;
		font-size: 0.8em !important;
		color: $black !important;
		a {
			color: $black !important;
		}
		span {
			&:last-child {
				color: $black;
			}
		}
	}
}

.product-item {

	.title {
		padding: 0.5em 0;
		font-weight: bold;
		color: $black;
		text-transform: uppercase;
	}

	&:hover {
		@media screen and (min-width: 640px) {
	  		.overlay {
				display: block;
			}
		}
	}
}

.product-image-container {
	position:relative;
	border: 1px solid $light-gray;
	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	.product-image {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

	}

	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.1);
		display: none;
		text-align: center;
		.options {
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%,-50%);
		}
		span {
			background: $blue;
			color: $yellow;
			padding: 0.3em;
			margin: 0.1em;
			font-size: 2em;
			&:hover {
				color: $blue;
				background: $yellow;
			}
		}
	}
}

body {

	@media screen and (max-width: $text-medium) {
		font-size: 0.8rem;
	}

	@media screen and (max-width: $text-small) {
		font-size: 0.6rem;
	}

	@media screen and (max-width: 640px) {
  		font-size: 1rem;
	}

	@media screen and (max-width: 320px) {
  		font-size: 0.9rem;
	}
}
