header {
	#top-menu {
		li:last-child{
			a {
				&:before {
					content: "+";
					color: $yellow;
				}
				&:after {
					content: none;
				}
				
			}
		}
	}
	#menu {
		margin: 1.5rem auto;
		img {
			width: 100%;
		}

		.mobile-nav, .full-menu {
			> ul {
				> li {
					> a {
						text-align: center;
						color: $blue;
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}
		}

		.full-menu {
			> ul {
				display: table;
				width: 100%;
				> li {
					position: relative;
					display: table-cell;
					> a {
						font-size: 1.2em;
						
						border-right: 1px solid $black;
						
						padding: 2.35em 1em;
						
						@media screen and (max-width: $text-medium) {
							padding: 2em 1em;
						}
						@media screen and (max-width: $text-small) {
							padding: 1.8em 1em;
						}

					}
					&:hover {
						> a {
							background: $light-gray;
							color: $black;
						}
					}
					&:last-child a {
						border: none;
					}
					&:after {
						height: 1em;
						content: "";
						position: absolute;
						left: 0;
						right: 0;
					}
				}
			}
			.sub-menu{
				background: $light-gray;
				color: $black;
				font-weight: bold;
				text-transform: uppercase;
				padding: 2em;
				font-size: 0.8em;
				position: absolute;
				margin: 1em auto 0 auto;
				left: 0;
				right: 0;
				z-index: 2;
				display: none;
				.unclickable {
					color: $black;
					font-size: 1.2em;
					border-bottom: 1px solid $black;
					padding: 0 0 0.2em 0;
					margin-bottom: 0.7em;

					
				}
				li {
					
					display: block;
					a {
						padding: 0;
						color: $black !important;
						&:hover {
							color: $medium-gray !important;
						}
					}
				}
				&:before {
					content: "";
					position: absolute;
					margin: 0 auto;
					left: 0;
					right: 0;
					top: -1em;
					height: 0;
					width: 0;
					border-left: 1em solid transparent;
					border-right: 1em solid transparent;
					  
					border-top: 1em solid $light-gray;
				}
				&:not(#category-dropdown) {
					left: -25%;
					width: 150%;
					padding: 1em;
					li {
						padding: 0.2em;
						a {
							display: inline-block;
							width: 100%;
							padding: 0.2em 1em;
						}
					}
				}
			}
			#category-dropdown {
				left: -165%;
				right: 0;
				width: 430%;
				display: none;
				-webkit-column-count: 3;
				-moz-column-count: 3;
				column-count: 3;		
				-webkit-column-gap: 2em;
				-moz-column-gap: 2em;
				column-gap: 2em;
				
				.category-group {
					break-inside: avoid-column;
					&:not(:last-child) {
						padding-bottom: 2em;
					}
				}
			}
		}
		
		.mobile-toggle {
			text-align: center;
			font-size: 2em;
		}
		@media screen and (max-width: 640px) {
			margin: 1rem auto;
		}
	}

	#search-bar {
		background: $light-gray;
		min-height: 2em;
		.search-field {
			input, button {
				float:left;
				color: $black;
			}
			input {
				border: 1px solid lighten($medium-gray, 20%);
				// color: lighten($medium-gray, 20%);
				font-weight: bold;
				text-transform: uppercase;
				text-align: right;
				margin: 0.3em 0;
				line-height: 2em;
				height: 2em;
				padding: 0.4em 2em 0.4em 0.4em;
				@media screen and (max-width: $text-medium) and (min-width: $text-small) {
					// height: 1.5375rem;
					font-size: 1em;
				}

				@media screen and (max-width: $text-small) and (min-width: 640px) {
					// height: 1.3375rem;
				}

				&::-webkit-input-placeholder {
				  color: $black;
				  opacity: 1;
				}
				&::-moz-placeholder, 
				&:-moz-placeholder {
				  color: $black;
				  opacity: 1;
				}
				&:-ms-input-placeholder {
				  color: $black;
				  opacity: 1;
				}
			}
			button {
				margin-left: -33px;
				margin-top: 0.3em;
				padding: 0.3em;
				font-size: 1.2em;
				@media screen and (max-width: $text-medium)  and (min-width: $text-small) {
					margin-left: -27px;
				}

				@media screen and (max-width: $text-small) and (min-width: 640px) {
					margin-left: -20px;
					margin-top: 0.5em;
				}
			}
		}

		#search-buttons {
			ul {
				li {
					border-right: 1px solid lighten($medium-gray, 20%);
					a {
						padding: 0.2rem 1rem;
						color: $black;
						font-weight: bold;
						text-transform: uppercase;
						font-size: 0.9em;
						span {
							font-size: 1.2em;
						}
						&:hover,
						&.selected {
							background-color: $white;
							color: $blue;
						}
						&::after {
							content: " >";
						}
						@media screen and (max-width: $text-medium) {
							padding: 0.2rem 0.8rem;
						}

						@media screen and (max-width: $text-small) {
							padding: 0.2rem 0.6rem;
						}
					}	
					&:last-child {
						border-right: none;
						a::after {
							content: "";
						}
					}
				}
			}
		}
	}

	#category-dropdown {
		display: none;
	}
}

.training {
	header {
		background: $blue;
	}

	.full-menu {
		li {
			a {
				color: white !important;
				&:hover {
					color: $yellow !important;
				}
			}
		}
	}
}

.mobile-nav {
	background: $blue;
	ul {
		li {
			display: block;
			a {
				color: $white;
				text-transform: uppercase;
				font-size: 1.2em;
				border-bottom: 1px solid $light-blue;
				padding: 1.3rem 1rem;
				
			}
		}
		.sub-menu {
			display: none;
			background: $blue;
			margin: 0;
			li {
				a {
					padding: 1em 1em 1em 2em !important;
					width: 100%;
					display: block;
					font-size: 1em;
				}
				&.unclickable {
					color: $white;
					font-size: 1.2em;
					text-transform: uppercase;
					padding: 0.5em 0.5em 0 1em;
				}
			}
		}
	}
}

// .mobile-nav{
// 	> ul{
// 		> li{
// 			display: block;
// 			> a{
// 				padding: 1rem 2rem;
// 				font-size: 1.8rem;
// 				border: 1px solid $medium-gray;
// 				border-right: 0;
// 				border-left: 0;
// 				border-bottom: 0;

// 			}
// 			&:first-child {
// 				a {
// 					border-top: 0;
// 				}
// 			}
// 			> ul {
// 				background: $blue;
// 				position: fixed;
// 				width: 100%;
// 				top: 0;
// 				bottom: 0;
// 				left: 100%;
// 				z-index: 10;
// 				li {
// 					a {
// 						color: white;
// 						text-transform: uppercase;
// 					}
// 				}
// 			}
// 		}
// 	}
// }