#carousel {
	position: relative;
	margin-bottom: 1em;
	
	.slick-slide {
		// background: darken($light-gray, 5%);
		&.full-width {
			img {
				width: 100%;
			}
		}
		.slide-content {
			min-height: 22vw;
			max-height: 30vw;
			margin: 0 auto;
			width: 83%;
			display: flex;
			align-items: center;
			height: 100%;
			@media screen and (max-width: 640px) {
		  		min-height: 55vw;
				max-height: 60vw;
		  		width: 100%;
			}
			img {
				float: left;
				align-self: flex-end;
				max-width: 45%;
			}
			.slide-text {
				padding-left: 2em;
				text-align: left;
				float: left;
				
				.title {
					font-size: 2.5em;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 1em;
					@media screen and (max-width: 640px) {
						font-size: 1.2em;
					}
				}
			}
		}
		a {
			text-align: center;
		}
	}
	#carousel-controls {
		pointer-events: none;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 0;
		bottom: 0;
		.arrows {
			position: absolute;
			top: 50%;
			width: 100%;
			.slick-arrow {
				pointer-events:auto;
				font-weight: bold;
				margin-top: -1em;
				font-size: 6em;
				color: $black;
				&.prev-arrow {
					float: left;
				}
				&.next-arrow {
					float: right;
				}
			}
		}
		.slick-dots {
			position: absolute;
			pointer-events:auto;
			bottom: 5%;
			li {
				margin: 0;
				&.slick-active {
					button {
						&:before {
							content: "\f111";
							color: $black;
						}
					}
				}
				button {
					width: 2em;
					height: 2em;
					&:before {
						content: "\f10c";
						font-family: FontAwesome;
						color: $black;
						opacity: 1;
						font-size: 12px;
					}
				}
			}
		}
	}
}
.product-list {
	width: 100%;
	li {
		&:nth-child(n+3) {
			@media screen and (max-width: 640px) {
		  		display: none;
			}
		}
	}
}