#sidebar {
	.widget-title {
		background: $dark-blue;
		color: $white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.9em;
		padding: 0.2em 0.5em;
	}
	.widget_layered_nav_filters {
		li {
			float: none;
			a {
				&:before {
					color: $dark-gray;
					font-family: FontAwesome;
					content: "\f057";
					font-size: 1.2em;
					margin-right: 0.4em;
				}
			}
		}
	}
	.widget_global_troxler_filters {
		> ul {
			> li {
				&.closed {
					> ul {
						display: none;
					}
					span {
						&:after {
							content: "\f078";
						}
					}
				}
				> span {
					width: 100%;
					display: block;
					background: $light-gray;
					text-transform: uppercase;
					color: $black;
					font-weight: bold;
					font-size: 1em;
					padding: 0 0.5em;
					position: relative;
					margin: 0.5em 0;
					cursor: pointer;
					&:before {
						border: 1px solid $light-gray;
						border-right: 0;
						border-left: 0;
						content: " ";
						position: absolute;
						z-index: -1;
						top: -2px;
						left: -2px;
						right: -2px;
						bottom: -2px;
					}
					&:after {
						content: "\f077";
						font-family: FontAwesome;
						float: right;
					}
				}
			}
		}
	}
	ul {
		margin: 0;
		li {
			span {
				margin-right: 0.5em;
				color: $black;
				font-size: 1.2em;
			}
			a {
				color: $black;
				font-size: 0.8em;
				font-weight: bold;
			}
			input[type=checkbox] {
				margin: 0;
			}
		}
	}
}

.products-per-page {
	float: left !important;
	position: relative;
	label {
		float: left;
		margin-right: 1em;
		color: $black;
		font-weight: bold;
		font-size: 1em;
	}
	select {
		width: inherit;
		height: inherit;
		padding: 0.35em 2.3em 0.35em 1em;
		border: 1px solid $black;
		font-weight: bold;
		color: $black;
		background: transparent;

	}
	&:after {
		content: "\f078";
		font-family: FontAwesome;
		color: $black;
		position: absolute;
		right: 0.8em;
		top: 0.2em;
	}
}


	nav.woocommerce-pagination {
		float: left;
		margin-left: 3em;
		ul.page-numbers {
			border: 0;
			line-height: 2.3em;
			li {
				margin: 0 0.2em;
				
				float: left;
				display: inline-block;
				a, span {
					color: $black;
					font-weight: bold !important;
					padding: 0.4em 0.8em !important;
					border: 1px solid $black;
				}
				span.current, a:hover {
					background: $black;
					color: $white;
				}
			}
		}
	}

#yith-quick-view-content {
	div.summary,
	div.images {
		width: 100%;
		padding: 15px 0;
	}
}
