.files-list {
	li {
		margin-bottom: 1em;
		.product-manual-link {
			color: $blue;
			text-transform: uppercase;
			font-weight: bold;
			i {
				font-size: 1.5em;
			}
		}
	}
}
.product {
	font-size: 0.9em;
	.featured-product {
		margin-top: 2em;
		border: 1px solid $light-gray;
		padding-top: 1px;
		> div {
			padding: 1.5em 2em;
			.description {
				p {
					overflow: hidden;
					max-height: 5em;
				}
			}
		}
		@media screen and (max-width: 640px) {
	  		display: none;
		}
	}
	.summary {
		div[itemprop=description] {
			margin: 1em 0 2em 0;
		}
	}
	
	#tab-product-manual {
		
	}
	.variations, .addons {
		font-weight: bold;
		label {
			font-weight: bold;
			color: $dark-gray;
		}
		select {
			line-height: 2.1em;
			height: 2.1em;
			padding: 0 0.5em;
			background: transparent;
			color: $dark-gray;
			border: 1px solid $light-gray;
		}

		.select-button {
			background: white;
			color: $dark-gray;
			border: 1px solid $light-gray;
			pointer-events: none;
			font-size: 1.3em;
			padding: 0.35em 0.4em;
			margin-left: -2em;
		}
		.add-button {
			margin: 1.4em 0 0 0;
		}
	}
	.woocommerce-variation-add-to-cart {
		margin: 2em 0;
		padding: 0.75em;
		font-weight: bold;
		background: $light-gray;
		.add-to-cart {
			
			margin-right: 1em;
			float: left;
			> button, > p, > input, .quantity {
				float: left;
				margin: 0;
			}
			.quantity {
				input {
					margin: 0;
					border: none;
					width: 4em;
					text-align: center;
					@media screen and (max-width: $text-medium) and (min-width: 640px){
						height: 1.9375rem;
					}

					@media screen and (max-width: $text-small) and (min-width: 640px) {
						height: 1.5375rem;
					}
				}
			}
			> button {
				margin: 0 0.5em;
			}
			> p {
				line-height: 2.4375rem;
			}
			.single_add_to_cart_button {
				margin-right: 1em;
			}
		}
		.add-to-cart-buttons {
			display: inline-block;
			.cart-button-container {
				margin-right: 1em;
				padding-right: 1em;
				border-right: 1px solid $medium-gray;
				float: left;
			}
			button {
				margin: 0;
			}
			@media screen and (max-width: 640px) {
				margin-top: 1em;
			}
		}
		.property-button {
			margin: 0;
			font-size: 1em;
			padding: 0.3em 0.6em;
			text-align: left;
			> i {
				font-size: 0.9em;
			}
		}
		.contact {
			color: $blue;
			text-transform: uppercase;
			float: left;
			p {
				margin: 0;
				line-height: 1.3em;
				&:first-child {
					padding-left: 0.5em;
				}
				&:nth-child(2){
					font-size: 0.9em;
				}
			}
		}
	}
	.sku_wrapper{
		margin-top: 2em;
	}
	.images {
		>a {
			> img {
				width: 100%;
			}
		}
		.thumbnails {
			> a {
					width: 25%;
					padding: 0.3em;
					display: inline-block;
			}
		}
	}
	.tabs {
		padding-bottom: 1px;
		border: 0;
		border-bottom: 1px solid $light-gray;
		li {
			display: inline;
			a {
				display: inline-block;
				background: $light-gray;
				color: $blue;
				padding: 0.5em 1em;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.9em;
				&:after {
					padding-left: 0.5em;
					content: "\f078";
					font-family: "FontAwesome";
				}
				&:hover {
					background: $blue;
					color: $white;
				}
			}
		}
	}

	.wc-tab {
		padding: 1em;
	}
}