.sensei-course-filters {
	margin-bottom: 0.5em !important;
}

.sensei-ordering {
	select {
		margin: 0;
	}
}

#main {
	.course-container {
		padding: inherit;
	}

	.course {
		padding: inherit;
		border-bottom: 0;
		.title {
			margin-bottom: 0;
			text-transform: uppercase;
		}
		.sensei-course-meta {
			margin-bottom: 0;
		}
	}
}

.course a.button,
.lesson a.button {
	font-size: 1em;
}

.course button.button {
	span {
		color: $blue;
	}
	&:hover {
		span {
			color: $yellow;
		}
	}
}

.module {
	margin-left: 0.8em !important;
	header {
		h2 {
			font-size: 1em !important;
			margin-top: 1em !important;
		}
	}

	h3, a {
		font-size: 1em !important;
	}
}

.type-lesson {
	margin-left: 0.8em !important;
	h2 {
		font-size: 1em !important;
		margin-top: 1em !important;
		margin-bottom: 0;
	}
	.lesson-meta {
		margin-top: 0.3em !important;
	}
	.lesson-meta, p {
		margin-left: 0.8em !important;
	}
}

.progress {
	background: none;
}

.answer_message {
	&.user_wrong {
		span {
			color: red;
		}
	}
	&.user_right {
		span {
			color: green;
		}
	}
}

section.entry {
	span.course-lesson-count {
		padding: 0;
	}
}

.sensei-share-your-grade {
	p {
		margin-left: 1.25rem;
	}
}

#sensei-quiz-list {
	> li {
		border-bottom: 1px solid $light-gray;
		padding: 1em 0;
		&:last-child {
			border-bottom: 0;
		}
	}
}

.course-results-lessons {
	article {
		padding: 0 1em 1em 1em !important;
		h3 {
			text-transform: uppercase;
			margin-top: 1em;
		}

		p {
			background: lighten($light-gray, 5%);
			padding: 0.6em;
			margin: 0;
			border-bottom: 1px solid lighten($medium-gray, 30%);
			.lesson-grade {
				float: right;
			}
		}

		.total-grade {
			background: $light-gray;
		}
	}
}

.lesson input.quiz-submit.complete {
	margin: 0 0 1em 0.8em; 
}