/*<-- VARIABLES AND MIXINS -->*/

/* Fonts*/

$OpenSans: 'Avenir', Arial, sans-serif;

/* Colours */

$dark-blue: $black;
$blue: $black;
$light-blue: $white;

$yellow: $white;

$white:     rgb(255,255,255);
$black:     rgb(0,0,0);

/* Breakpoints */
$text-medium: 1080px;
$text-small: 860px;
